<%- include ("./../partials/messages"); %>
<% const availableDates = getDateRangeStartingToday(2, 0, 0, 0); %>

<div class="container">
    <h3>Create an Activity Post</h3>
    <p>Newly created activities are reviewed by website administrators before they are published. You will receive an email (if you registered with one) after your submission has been reviewed. You can also view the publication status of this activity in your <a href="/activities/my-activities">My Activities</a> page after you submit it.</p>
    <div class="row">
        <form action="/activities/create" method="POST" class="col s12" id="activityForm">
            <div class="row">
                <div class="input-field">
                    <input
                        type="text"
                        name="title"
                    >
                    <label for="title">What is the Activity Title?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input
                        type="date"
                        name="date"
                        min=<%= formatDate(availableDates[0], 'YYYY-MM-DD') %>
                        max=<%= formatDate(availableDates[1], 'YYYY-MM-DD') %>
                        
                    >
                    <label for="date">When Will the Activity Take Place?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input
                        type="time"
                        name="time"
                    >
                    <label for="time">At What Time Will the Activity Occur?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <select id="reoccur" name="reoccur">
                        <option value="0" selected>This activity does not reoccur.</option>
                        <% for (let i = 1; i < 5; i++) { %>
                          <option value="<%= i %>">This activity occurs <%= i %> more time(s) on the same day and time each week.</option>
                        <% } %>
                      </select>
                      <label>How Many Times Does This Activity Reoccur?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input
                        type="text"
                        name="leaderName"
                    >
                    <label for="leaderName">Who is the Activity Leader?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <select id="leaderUsername" name="leaderUsername">
                      <option value="" selected>The activity leader does not have an account.</option>
                      <% users.forEach(user => { %>
                        <option value="<%= user.username %>"><%= user.username %></option>
                      <% }); %>
                    </select>
                    <label>What is the Activity Leader's Username?</label>
                  </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <h5>Describe the Activity.</h5>
                    <!-- <textarea id="body" name="body"></textarea> -->
                    <div id="editor" name="editor"></div>
                </div>
            </div>

            <input type="hidden" name="body">

            <div class="row">
                <button type="submit" class="btn"><i class="fas fa-check"></i> <%= user.admin ? 'Publish' : 'Submit for Review' %></button>
                <a href="/activities/my-activities" class="btn orange"><i class="fas fa-times-circle"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>