<div class="container">
    <h3 class="page-header">Edit an Activity Post</h3>

    <p>Any edits that you submit will be automatically published, and website administrators will be notified of them. You will receive an email (if you registered with one) when your edited post has been reviewed. You can view the publication status of this activity in your <a href="/activities/my-activities">My Activities</a> page.</p>
    <p>At this time, you cannot make edits to the date, time, or leader. If you would like to make those changes, please submit a question to the website administrators, make note of any changes in the description, or delete this activity and create a new one.</p>

    <div class="row">
        <h5><a href="/activities/<%= activity._id %>/rsvps">Click here to see or modify the <%= activity.rsvps.length %> RSVP(s).</a></h5>
    </div>
    
    <div class="row">
        <form action="/activities/<%= activity._id %>" method="POST" class="col s12" id="activityForm">
            <input type="hidden" name="_method" value="PUT">
            <div class="row">
                <div class="input-field">
                    <input type="text" name="title" value="<%= activity.title %>">
                    <label for="title">What is the Activity Title?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <h5  style="margin-bottom:0.3cm;">Describe the Activity.</h5>
                    <div id="editor" name="editor"><%- activity.body %></div>
                </div>
            </div>

            <input type="hidden" name="body">

            <div class="row">
                <button type="submit" class="btn" style="margin-right:0.3cm;"><i class="fas fa-check"></i> <%= user.admin ? 'Publish Edits' : 'Submit Edits for Review' %></button>
                <a href="/activities/my-activities" class="btn orange"><i class="fas fa-times-circle"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>