<div class="container">
    <h1>Activities</h1>
    <div class="row">
        <% activities.forEach(function(activity) { %>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <%- editIcon(activity.user, user._id, activity._id) %>
                    </div>
                    <div class="card-content center-align">
                        <h5><%= stripTags(truncate(activity.title, 150)) %></h5>
                        <p><%= stripTags(truncate(activity.body, 150)) %></p>
                        <br>
                        <div class="chip">
                            <a href="/activities/user/<%= activity.user._id %>"><%= activity.user.name %></a>
                        </div>
                    </div>
                    <div class="card-action center-align">
                        <a href="/activities/<%= activity._id %>" class="btn grey">Read More</a>
                    </div>
                </div>
            </div>
        <% }); %>
        <% if (activities.length === 0) { %>
            <p>No activities to display!</p>
        <% } %>
    </div>
</div>