<%- include ("./../partials/messages"); %>

<div class="container">
    <h1><%= user.name %>'s Activities</h1>
    <div class="section">
        <div class="row">
            <%- include ("./../partials/add_btn"); %>
        </div>
        <div class="row">
            <%- include ("./../partials/home_btn"); %>
        </div>
    </div>

    <% if (user.admin) { %>
        <div class="divider"></div>

        <div class="section">
            <% if (activitiesToReview.length > 0) { %>
                <p>Here are the activities that are pending approval:</p>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Created On</th>
                            <th>Occurs On</th>
                            <th>Leader's Name</th>
                            <th>Description</th>
                            <th><!-- Approve or Reject Buttons --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% activitiesToReview.forEach(function(activity) { %>
                            <tr>
                                <td><a href="/activities/<%= activity._id %>"><%= activity.title %></a></td>
                                <td><%= formatDate(activity.createdAt, 'MMMM Do YYYY, h:mm a') %></td>
                                <td><%= formatDate(activity.date, 'MMMM Do YYYY, h:mm a') %></td>
                                <td><%= activity.leaderName %></td>
                                <td>
                                    <%= stripTags(truncate(activity.body, 150)) %>
                                </td>
                                <td>
                                    <!-- Approve or Reject Buttons -->
                                    <%- approveBtn(user, activity._id) %>
                                    <%- rejectBtn(user, activity._id) %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <p>There are no submitted activities to review.</p>
            <% } %>
        </div>
    <% } %>

    <div class="divider"></div>

    <div class="section">
        <% if (activitiesCreated.length > 0) { %>
            <p>Here are the activities that you created:</p>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Occurs On</th>
                        <th>Publication Status</th>
                        <th>Leader's Name</th>
                        <th>RSVPs</th>
                        <th><!--Edit and delete buttons--></th>
                    </tr>
                </thead>
                <tbody>
                    <% activitiesCreated.forEach(function(activity) { %>
                        <tr>
                            <td><a href="/activities/<%= activity._id %>"><%= activity.title %></a></td>
                            <td><%= formatDate(activity.date, 'MMMM Do YYYY, h:mm a') %></td>
                            <td><span class="dash-status"><%= activity.status %></span></td>
                            <td><%= activity.leaderName %></td>
                            <td>
                                <a href="/activities/<%= activity._id %>/rsvps">Click here to see, modify, or contact the <%= activity.rsvps.length %> RSVP(s).</a>
                            </td>
                            <td>
                                <!--If the activity has been published, they may edit it. Otherwise, they may only delete it.-->
                                <% if (activity.status !== 'under review') { %>
                                    <%- editIcon(activity.creatorUser, user, activity._id, false) %>
                                <% } %>
                                <%- deleteBtn(activity.creatorUser, user, activity._id) %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>You have not created any activities yet.</p>
        <% } %>
    </div>

    <div class="divider"></div>
    
    <div class="section">
        <% if (activitiesLeading.length > 0) { %>
            <p>Here are the activities that you are leading:</p>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Occurs On</th>
                        <th>Publication Status</th>
                        <th>Leader's Name</th>
                        <th>RSVPs</th>
                    </tr>
                </thead>
                <tbody>
                    <% activitiesLeading.forEach(function(activity) { %>
                        <tr>
                            <td><a href="/activities/<%= activity._id %>"><%= activity.title %></a></td>
                            <td><%= formatDate(activity.date, 'MMMM Do YYYY, h:mm a') %></td>
                            <td><span class="dash-status"><%= activity.status %></span></td>
                            <td><%= activity.leaderName %></td>
                            <td>
                                <a href="/activities/<%= activity._id %>/rsvps">Click here to see the <%= activity.rsvps.length %> RSVP(s).</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        
        <% } else { %>
            <p>You are not leading any activities yet.</p>
        <% } %>
    </div>

    <div class="divider"></div>

    <div class="section">
        <% if (activitiesAttending.length > 0) { %>
            <p>Here are the activities that you are attending:</p>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Occurs At</th>
                        <th>Leader Name</th>
                        <th><!--Cancel RSVP button--></th>
                    </tr>
                </thead>
                <tbody>
                    <% activitiesAttending.forEach(function(activity) { %>
                        <tr>
                            <td><a href="/activities/<%= activity._id %>"><%= activity.title %></a></td>
                            <td><%= formatDate(activity.date, 'MMMM Do YYYY, h:mm a') %></td>
                            <td><%= activity.leaderName %></td>
                            <td>
                                <%- cancelRsvpBtn(user.email, activity.rsvps, activity._id, 'Cancel RSVP') %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        
        <% } else { %>
            <p>You are not signed up for any activities yet.</p>
        <% } %>
    </div>
</div>