<div class="container">
    <h3><%= title %> RSVP(s)</h3>
    <% if (rsvps.length > 0) { %>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <% rsvps.forEach(function(rsvp) { %>
                    <tr>
                        <td><%= rsvp.name %></td>
                        <td><%= rsvp.email %></td>
                        <td><%= rsvp.phone %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>There are no RSVPs for this activity yet!</p>
    <% } %>

    <div class="divider"></div>

    <div class="section">
        <a href="/" class="btn cyan"><i class="fas fa-backward"></i> Go Back to My Activities</a>
        <%- include ("./../partials/home_btn"); %>
    </div>
</div>