<div class="container">
    <h3><%= activity.title %></h3>

    <% if (user) { %>
        <div class="row">
            <% if (activity.status == 'published' || activity.status == 'published and under review' || user.admin) { %>
                <div class="col">
                    <%- editIcon(activity.creatorUser, user, activity._id, false) %>
                </div>
            <% } %>
            <div class="col">
                <%- deleteBtn(activity.creatorUser, user, activity._id) %>
            </div>
        </div>
    <% } %>
    
    <div class="card activity">
        <div class="card-content">
            <span class="card-title"><b>Takes place on:</b> <%= formatDate(activity.date, 'MMMM Do YYYY, h:mm a') %></span>
            <span class="card-title"><b>Led by:</b> <%= activity.leaderName %></span>
            <% if (user) { %>
                <span class="card-title"><b>RSVPs:</b>
                    <% if (user.admin || activity.creatorUser._id.toString() == user._id.toString()) { %>
                        <a href="/activities/<%= activity._id %>/rsvps">Click here to see, modify, or contact the <%= activity.rsvps.length %> RSVP(s).</a>
                    <% } else { %>
                        <p>You do not have permission to view the RSVPs for this activity.</p>
                    <% } %>
                </span>
            <% } %>
            <span class="card-title"><b>Description:</b> <%- activity.body %></span>
        </div>
        <div class="card-action">
            <% if (activity.status == 'published' || activity.status == 'published and under review') { %>
                <div class="row">
                    <div class="col">
                        <a href="/sign-up" class="btn indigo darken-3">Sign Up</a>
                    </div>
                </div>
            <% } %>
            <% if (user && user.admin && activity.status != 'published') { %>
                <div class="row">
                    <div class="col">
                        <%- approveBtn(user, activity._id) %>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <%- rejectBtn(user, activity._id) %>
                    </div>
                </div>
            <% } %>
            <div class="row">
                <div class="col">
                    <a href="/" class="btn orange">View Other Activities</a>
                </div>
            </div>
        </div>
    </div>
</div>