<div class="container">
    <h3><%= activity.title %>
        <% if (user) { %>
            <small><%- editIcon(activity.creatorUser, user._id, activity._id, false) %></small>
        <% } %>
    </h3>
    <div class="card activity">
        <div class="card-content">
            <span class="card-title"><b>Takes place at:</b> <%= formatDate(activity.date, 'MMMM Do YYYY, h:mm a') %></span>
            <span class="card-title"><b>Led by:</b> <%= activity.leaderName %></span>
            <%= stripTags(activity.body) %>
        </div>
        <div class="card-action">
            <div class="row">
                <a href="/sign-up" class="btn indigo darken-3">Sign Up</a>
                <a href="/" class="btn orange">View Other Activities</a>
            </div>
        </div>
    </div>
</div>