<%- include ("./partials/messages"); %>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Connecting with Parma Heights Seniors Virtual Activities</h3>
        </div>
    </div>
    <% if (user) { %>
        <div class="row">
            <div class="col">
                <%- include ("./partials/add_btn"); %>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <%- include ("./partials/my_activities_btn"); %>
            </div>
        </div>
    <% } else { %>
        <div class="row">
            <p>Want to create your own activity posts, speed up the activity sign-up process, save and see the activities you signed up for, and/or change your RSVPs? <a href="/users/register">REGISTER</a> for an account or <a href="/users/login">LOG IN</a>!</p>
        </div>
    <% } %>
    
    <div class="row">
        <% activities.forEach(function(activity) { %>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <!-- If a user is logged in and this post was created by the logged in user, display the edit button. -->
                        <% if (user) { %>
                            <%- editIcon(activity.creatorUser, user, activity._id) %>
                        <% } %>
                    </div>
                    <div class="card-content center-align">
                        <h5><%= stripTags(truncate(activity.title, 150)) %></h5>
                        <p><%= stripTags(truncate(activity.body, 150)) %></p>
                        <br>
                        <div class="teal lighten-5">
                            <%= formatDate(activity.date, 'MMMM Do YYYY, h:mm a') %>
                        </div>
                        <div class="light-green lighten-4">
                            <%= activity.rsvps.length %> RSVP(s)
                        </div>
                    </div>
                    <div class="card-action center-align">
                        <div class="row">
                            <a href="/activities/<%= activity._id %>" class="btn light-blue darken-3">Learn More</a>
                        </div>
                        <div class="row">
                            <% if (user) { %>
                                <%- cancelRsvpBtn(user.email, activity.rsvps, activity._id, 'Cancel RSVP', '<a href="/sign-up" class="btn indigo darken-3">Sign Up</a>') %>
                            <% } else { %>
                                <a href="/sign-up" class="btn indigo darken-3">Sign Up</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
        <% if (activities.length === 0) { %>
            <p>There are no activities to sign up for at the moment. Please check again later!</p>
        <% } %>
    </div>
</div>