<%- include ("./partials/messages"); %>

<div class="container">
    <h4>Sign Up for Activities</h4>

    <!-- If a user is not logged in, prompt them to register or log in before signing up for an activity -->
    <% if (!user) { %>
        <p><a href="/users/register">REGISTER</a> for an account or <a href="/users/login">LOG IN</a> to speed up the activity sign-up process, save and see the activities you sign up for, change your RSVPs, and create your own activity posts!</p>
    <% } %>

    <!-- If a user is logged in, fill in the appropriate fields with that user's information. Otherwise, leave those fields blank. -->
    <div class="section">
        <form action="/sign-up" method="POST">
            <div class="row">
                <div class="input-field">
                    <input
                        type="text"
                        name="name"
                        placeholder="Enter Your Name"
                        value="<%= user ? user.name : '' %>"
                    >
                    <label for="name">What is Your Name?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input 
                        type="email"
                        name="email"
                        placeholder="Enter Your Email"
                        value="<%= user ? user.email : '' %>"
                    >
                    <label for="email">What is Your Email?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input
                        type="tel"
                        name="phone"
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                        placeholder="Enter Your Phone Number (example: 444-444-4444)"
                        value="<%= user ? user.phone : '' %>"
                    >
                    <label for="phone">What is Your Phone Number?</label>
                </div>
            </div>

            <div class="row">
                <p>Which Activities Do You Want to Sign Up For?</p>
                <div class="input-field">
                    <% activities.forEach(function(activity) { %>
                        <p>
                            <label>
                                <input
                                    class="filled-in"
                                    type="checkbox"
                                    name="selectedActivities"
                                    value="<%= activity._id %>"
                                >
                              <span class="black-text"><%= activity.title %></span>
                            </label>
                          </p>
                    <% }); %>
                </div>
            </div>

            <!-- Display the waiver and require a signature if the user is not signed in. -->
            <% if (!user) { %>
                <div class="row">
                    <h5>Waiver for Participation</h5>
                    <%- include("./partials/waiver_text"); %>

                    <div class="input-field">
                        <input
                            type="text"
                            name="signature"
                            placeholder="Enter Your Name as a Digital Signature"
                        >
                    </div>
                </div>
            <% } %>
            
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn"><i class="fas fa-check"></i> Sign Up</button>
                </div>
                <div class="col">
                    <a href="/" class="btn orange"><i class="fas fa-times-circle"></i> Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>