<div class="container">
    <h4 class="page-header">Register</h4>
    <p>Register for an account and log in to create your own activity posts, speed up the activity sign-up process, save and see the activities you signed up for, and/or change your RSVPs.</p>

    <div class="section">
        <form action="/users/register" method="POST">
            <div class="row">
                <div class="input-field">
                    <input
                      type="text"
                      name="name"
                      placeholder="Enter Your Name"
                      value="<%= typeof name != 'undefined' ? name : '' %>"
                    >
                    <label for="name">What is Your Name?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                      <input
                        type="text"
                        name="username"
                        placeholder="Enter a Username"
                        value="<%= typeof username != 'undefined' ? username : '' %>"
                      >
                      <label for="username">What Would You Like Your Username To Be?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input
                      type="email"
                      name="email"
                      placeholder="Enter Your Email"
                      value="<%= typeof email != 'undefined' ? email : '' %>"
                    >
                    <label for="email">What is Your Email?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input
                      type="tel"
                      name="phone"
                      placeholder="Enter Your Phone Number (example: 444-444-4444)"
                      pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                      value="<%= typeof phone != 'undefined' ? phone : '' %>"
                    />
                    <label for="email">What is Your Phone Number?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input
                      type="password"
                      name="password"
                      placeholder="Enter a Password"
                      value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                    <label for="password">What Would You Like Your Password To Be?</label>
                </div>
            </div>

            <div class="row">
              <div class="input-field">
                  <input
                    type="password"
                    name="password2"
                    placeholder="Enter a Password"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                  />
                  <label for="password2">Please Confirm What You Would Like Your Password To Be.</label>
              </div>
            </div>

            <div class="row">
                <h6>Waiver for Participation</h6>
                <p><b>Your digital signature below signifies your agreement to the following:</b></p>
                <%- include("./../partials/waiver_text"); %>
              
                <div class="input-field">
                  <input
                    type="text"
                    name="signature"
                    placeholder="Enter Your Name as a Digital Signature"
                  >
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn"><i class="fas fa-check"></i> Register</button>
            </div>
        </form>
    </div>
    
    <div class="divider"></div>

    <div class="section">
        <p>Do you already have an account? <%- include ("./../partials/login_btn"); %> to your account OR <%- include ("./../partials/home_btn"); %></p>
    </div>
</div>